*{
    box-sizing: border-box;
}

body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
}

#title{
    font-size:4vw;
    font-family:"montserrat";
    text-align: center;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px magenta,
        0 0 80px magenta,
        0 0 90px magenta,
        0 0 100px magenta,
        0 0 150px magenta;
    font-style: italic;
    position: relative;
}

#subtitle{
    font-size:2vw;
    font-family:"montserrat";
    text-align:center;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px magenta,
        0 0 80px magenta,
        0 0 90px magenta,
        0 0 100px magenta,
        0 0 150px magenta;
    font-style:italic;
}

.flex-parent {
    display: flex;
}
  
.jc-center {
    justify-content: center;
}

.buttons{
    position: relative;
    display: block;
    color: black;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    margin-top:10vw;
    margin-left:20vw;
    outline:none;
    border:none;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px white,
        0 0 80px white,
        0 0 90px white,
        0 0 100px white,
        0 0 150px white;
}

.compsci::before{
    background: #63E2F0;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
    opacity: 0.5;
}

.compsci{
    margin-right: 10vw;
}

.compsci::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.compsci:hover::before{
    height: 550%;
}

.psy::before{
    background: #CC9CFB;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
    opacity:0.5;
}

.psy::before{
    width:100%;
    height:0%;
    transform:translate(-50%, -50%) rotate(-45deg);
}

.psy:hover::before{
    height:480%;
}